#prod {
  margin-top: -20px;
}

#tagline {
  margin-top: -20px;
  font-size: 22px;
  font-weight: 200;
}

#title {
  color: white;
  font-family: Lato-light;
  font-size: 40px;
  font-weight: 900;
  margin-top: 30px;
  font-stretch: condensed;
}

#main {
  margin: 0 auto;
}

#genre {
  font-size: 22px;
}

.text {
  color: #fafafa;
}

.headings-const {
  margin-top: -10px

}

.headings {
  margin-left: 100px
}

.film-id {
  margin-top: -17px;
  font-size: 26px;
}

.overview-film {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.wrapp-ower {
  display: flex;
  flex-direction: row;
}

.body-populars {
  background: #373b69;
}
.main-populars {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: #22254b;
}

.wrapp-span {
  height: 30px;
}

.vote {
  margin-left: 85%
}

.film {
  color: $lightGreen
}

.wrapper {
  display: flex;
  flex-direction: row;
}
h3 {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}

.green {
  color: $lightGreen
}

.orange {
  color: #e58f2c
}

.red {
  color: #8B0000
}

.wrapp-populars {
  border-radius: 3px;
  margin: 10%;
  background: #373b69;
}
.pupulars-img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.wrapp {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 5px;
}
